@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F9FA;
  --foreground: #171717;
  --primary:#7e3af2;
  --text-header:#000000DE;
  --text-primary:#22272f;
  --text-secondary:#696f77;
  --button:#E6007B;
  --button-hover:#ec3c99;
  --button-secondary-hover:#EFF2F5;
  --white:#ffffff;
  --black:#000000;
  --icon-color:#7D3BDF;
  --shadow:#0000001a;
  --border-primary:#545A64;
  --border-secondary:#E8EAED;
  --helperText:#ef0e0ede;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
} */

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@media print {
   /* Avoid breaking inside the list of terms */
   .terms-section {
    page-break-inside: avoid;
  }

  /* Ensure list inputs and other sections are on separate pages if needed */
  .list-inputs-section {
    page-break-before: always;
  }

  .no-print {
    display: none;
  }

  /* Prevent content from spilling over into other pages */
  .print-content {
    width: 100%;
    overflow: hidden;
  }

  .print-content,
  .page-break {
    page-break-before: always;
  }
  .common-table {
    overflow: visible;
    page-break-inside: auto;
  }

  /* Add specific page breaks after certain sections */
  .common-table-section {
    page-break-after: always;
  }
  /* Optional: Make sure everything is printed in a neat way */
  body {
    margin: 0;
    padding: 0;
  }

  @page {
    size: auto;
    margin: 5mm;
  }
}

input[type="text"],
input[type="number"],
input[type="date"] {
  @apply px-3 py-2 border border-gray-300 rounded-md focus:ring-primary-main focus:border-primary-main;
}

.btn-primary {
  @apply px-4 py-2 bg-primary-main text-white rounded-md hover:bg-primary-dark transition-colors;
}

.btn-secondary {
  @apply px-4 py-2 bg-secondary-main text-white rounded-md hover:bg-secondary-dark transition-colors;
}
